# Ignorowanie środowisk wirtualnych Pythona
venv/
.venv/

dickens*
dickens/
.dickens/
knowledge_bases/
.knowledge_bases/
book.txt

# Ignorowanie plików kompilowanych Pythona
__pycache__/
*.py[cod]
*$py.class

# Ignorowanie plików logów i danych
*.log
*.sqlite3

# Ignorowanie plików konfiguracyjnych środowiska
.env
.env.*

# Ignorowanie plików edytora
.vscode/
.idea/
*.swp

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db
