#NEO4j Config
NEO4J_URI=neo4j+s://...
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=...

#LightRAG Config
CHUNK_SIZE=1200
ENABLE_LLM_CACHE=false
ENABLE_LLM_CACHE_FOR_EXTRACT=false

TOP_K=20
ANS_MODE=hybrid #local/global/hybrid/mix

METHOD=LOCAL #API/LOCAL
WORKING_DIR=./dir

#LOCAL
HF_TOKEN=...
LLM_MODEL_NAME=meta-llama/Llama-3.1-8B-Instruct
DEVICE=cuda #cpu/cuda/auto
# PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True

#API (Groq)
# OPENAI_API_KEY=... #test
# OPENAI_API_BASE=https://api.groq.com/openai/v1
# OPENAI_API_TYPE=openai
# LLM_MODEL_NAME=llama3-70b-8192